
<%flash[:message] = "Unable To Delete Account"%>
<h1>Deleting Error</h1>
<p>It seems there was a problem. Please make sure you are logged in or return to <a href="/">the home page</a> and try again.</p>
