
<%flash[:message] = "Please sign in to your account!"%>
<h1>Editing Error</h1>
<p>It seems there was a problem. Please make sure you are logged in or return to <a href="/">the home page</a> and try again.</p>

