<table>
  <tr>
    <th>Books:</th>
  </tr>
<table border="1">
<thead>
    <th>Name</th>
    <th>Review</th>
    <th>Rating</th>
    
    </thead>
  <% @books.each do |book| %>
    <tr>
      <td><%= book.name %></td>
      <td><%= book.review %></td>
       <td><%= book.rating %></td>
      
    </tr>
  <% end %>
</table>
<h3> <a href="/">Home</a> </h3>
<h3><a href="/users/<%=current_user.id%>">Account</a></h3>

