<title>Create a New Book</title>
<% if @errors %>
    <% @errors.each do |e| %>
        <%= e %><br>
    <% end %>
<% end %>

  </head>
  <body>
    <h1>Create a New Book</h1>
    <form method="POST" action="/books">
    <input type="hidden" name="book[user_id]" value="<%= current_user.id %>">
      <p>Name:<input type="text" name="book[name]"></p>
      <p>Genre:<input type="text" name="book[genre]"></p>
      <p>Review:<input type="text" name="book[review]"></p>
      <p>Rating:<input type="text" name="book[rating]"></p>

      <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <p><button type="submit" value="submit">Submit</button></p>
      <br>
<h3> <a href="/">Home</a> </h3>