<div class="container">
<br>
<br>
  <h1>Welcome To Next Read!</h1>
  <br>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <h2><a href="/users/signup">Click Here to Sign Up</a></h2>
    <h2><a href="/users/login">Click Here to Log in</a></h2>

    <div class="content">
    
    <br>
    <img src="https://i.pinimg.com/564x/1a/6b/2c/1a6b2cf3ca1ebdfc5f8d98948e95616e.jpg" alt="reading meme" width="500" height="600">

  </div>
</div>
