<div class="container">
<br>
<br>
<img src="https://www.bpl.bc.ca/sites/default/files/styles/slideshow_main_large/public/uploads/slideshow/images/what-do-I-read-next.png?itok=XGKHc6ZW" alt="what to read" width="200" height="100">
  <h1>Welcome To Next Read!</h1>
  <br>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <h2><a href="/users/signup">Click Here to Sign Up</a></h2>
    <h2><a href="/users/login">Click Here to Log in</a></h2>
  <h2><a href="/books">Click Here to View All Books</a></h2>
    <div class="content">
    
    <br>
    <img src="https://i.pinimg.com/564x/1a/6b/2c/1a6b2cf3ca1ebdfc5f8d98948e95616e.jpg" alt="reading meme" width="500" height="600">

  </div>
</div>
