<div class="container">
  <header>Welcome To Next Read!</header>
  <br>
  <br>
  <div class="col-md-8 col-md-offset-2">
    <h2><a href="/users/signup">Click Here to Sign Up!</a></h2>
    <h2><a href="/users/login">Click Here to Log in!</a></h2>

    <div class="content">
   
    <h2><a href="/books/new">Click Here to Add A New Book!</a></h2>
    <br>
    <a href="/users/logout">Log Out</a>
 
  </div>
</div>
